* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
  }
  html{
    scroll-behavior: smooth;
  }


  /* navbar  */
#navbar{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  padding: 1%;
  z-index: 1;
}

#navbar::before{
  content: "";
  background-color: rgb(211, 211, 211);
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 1;
}

#logo img{
  height: 50px;
  width:55px;
  border-radius: 5px;
  margin: auto;
}
#logo {
  height: 50px;
}

#navbar ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

#navbar ul li{
  list-style: none ;
  margin-left: 10px;
  margin-right : 10px;
  margin-top : 0px;
  margin-bottom : 0px;
}

#navbar ul li a{
  padding-left: 10px;
  padding-right: 10px;
  color:rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  /* color: black; */
  border-radius: 10px;
  font-size: 1.7rem;
  margin-left: 10px;
  
}

#navbar ul li a:hover{
  color: black;
  background-color: white;
}

  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 288px;
    background: #fff;
    border: 5px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius:13px ;
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    background: radial-gradient(black, transparent);
    color: #fff;
    border-radius: 13px;
  }
  
  .card-body {
    padding: 31px 28px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: rgb(90, 90, 90);
    margin-top: 27px;
    text-decoration: none;
    padding: 12px 42px;
    border-radius: 33px;
}
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
    #logo{
      display: none;
    }
  }

  /* mobile optimisation  */
  @media screen and (max-width:600px){
    #navbar ul li a{
      font-size: 1.2rem;
      margin: 0px;
  }
  }


  /* footer */
  /* footer */
#footer{
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding:2%;
  margin:2%;
}
.fof{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer{
  background-color: rgba(255,255,255,0.4);
}
.sm{
  margin: 10px;
  padding-left: 2%;
}
.sm img{
  width: 30px;
}
.nm{
  margin: none;
}
  