* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 288px;
    background: #fff;
    border: 5px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius:13px ;
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    background: radial-gradient(black, transparent);
    color: #fff;
    border-radius: 13px;
  }
  
  .card-body {
    padding: 31px 28px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(
45deg
, black, transparent);
    margin-top: 27px;
    text-decoration: none;
    padding: 12px 42px;
    border-radius: 33px;
}
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
  